
<div id="div-main" class="container calmgr-view">
  <div ng-show="calmgrerrormsg" class="row">
    <div class="col-md-12 alert alert-error">
      <h4>Error</h4>
      <h5>Send the following error msg to David (and reload page):</h5>
      <p>{{calmgrerrormsg}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h5>{{userinfo.name}}</h5>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 form-group">
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{selectedCalendar.summary}}&nbsp;<span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
          <li ng-repeat="calendar in calendars"><a ng-click="selectCalendar(calendar)" class="cursor-pointer">{{calendar.summary}}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-3 col-sm-4 col-xs-6 form-group">
      <selectize data-preferences="secCalsPickerOptions" ng-model="secondaryCalendars"></selectize>
    </div>
  </div>
  <hr/>
  <div id="modal" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Patient</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
              <input type="checkbox" ng-model="editorEvent.invite"/>Send Invitation on&nbsp;<span ng-show="editorEvent.id">Update</span><span ng-hide="editorEvent.id">Insert</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
              <selectize data-preferences="patientPickerOpts" ng-model="editorEvent.patient"></selectize>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
              <input type="checkbox" ng-model="editorEvent.absent"/>absent
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
              <datepicker ng-model="editorEvent.momentStart"></datepicker>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
              <timepicker ng-model="editorEvent.momentStart"></timepicker>
            </div>
          </div>
          <div class="row control-group {{editorEventDateErrorClass()}}">
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
              <datepicker ng-model="editorEvent.momentEnd"></datepicker>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
              <timepicker ng-model="editorEvent.momentEnd"></timepicker>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <textarea rows="5" ng-model="editorEvent.description" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-hide="editorEvent.id" ng-click="editorInsert()" class="btn">Insert</button>
          <button ng-show="editorEvent.id" ng-click="editorUpdate()" class="btn">Update</button>
          <button ng-click="editorCancel()" class="btn">Cancel</button>
          <button ng-show="editorEvent.id" ng-click="editorCopy()" class="btn">Copy</button>
          <button ng-show="editorEvent.id" ng-click="editorDelete()" class="btn">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="calendar-loading"></div>
    <div id="calendar-datepicker" class="col-lg-2 col-md-3 col-sm-3"></div>
    <div id="calendar" class="col-lg-10 col-md-9 col-sm-9"></div>
  </div>
</div>
